<style>
 #content {
        max-height: calc(100% - 120px);
        overflow-y: scroll;
        padding: 0px 10% !important;
        margin-top: 60px !important;
    }


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
}
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

footer {
    width: 100%;
    height: 60px;
    position:static;
    bottom: 0;
}
</style>
<div class="container" ng-controller = "GroupNameCtrl" ng-init = "init()">
    <div class="page-header" style="margin-top:100px;">
        <h2 style="text-align:center;" ng-bind = "collegeName"></h2>
      </div>
    <div class="row" style="margin-bottom:10px;">
    <h2 style=""><img id="groupimg" ng-src="{{ img_src }}" alt="..." class="img-circle" style="width:50px;height:50px;"> <span id="club_name"></span><span ng-bind = "clubName"></span></h2>
    <div class="col-md-12">
<div class="list-group" style="background-color:#EAEBED;padding:2%;width:100%">
    <div ng-repeat = "event in events">
    <button type="button"  class="list-group-item" ng-click='go("/"+event.id+"/"+types[$index].type_of_list)'> <span style="padding-left:10px;">{{ event.title }}</span><span style="float:right;">{{ types[$index].type_of }}<br/>{{ types[$index].another_type }}</span></button>
    </div>
</div>
</div> 
</div>
    </div>