<div ng-controller = "scoreboardCtrl" ng-init = "init()">
	<table id="college-table" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Score</th>
                <th>New Score</th>		
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teams">
                <td>{{team.batch}}</td>
                <td>{{team.score}}</td>
                <td>
                	<input ng-model="field{{ $index }}"/>
                </td>
            </tr>	
        </tbody>
    </table>
    <button ng-click="send()" class="btn btn-primary">Submit</button>
</div>