<div class="container" style="margin-bottom:20px;margin-top:5%;" ng-controller = "NewsCtrl" ng-init="init()">
      <div class="row">
   <div class="col-md-5 col-md-offset-3" style="border-radius:5px;background-color:white;padding-bottom:10px;">
    <div class="row">
    <img ng-src="{{ img_src }}" alt="..." class="img-rounded" style="height:25%;width:100%;">
    </div>
  <div class="row" style="display:inline;"><h3 ng-bind="title_post" style="float:left;"></h3>
    <div style="float:right;display:inline;margin-top:20px;">
      <a href="">
      <span style="float:right;margin-top:5px;">Share</span>
      <span style="float:right;"><img src="img/share.png" width="30px" height="30px" style="float:right;"></span>
      </a>
    </div>
    
  </div>
  <div class="row" style="padding-left:10px;padding-right:10px;">
    <p><img ng-src="{{ clubimg }}" width="25px" height="25px" alt=""class="img-rounded"><span><b ng-bind="clubName" style="margin-left:5px;"></b></span></p>
    <span ng-bind = "desc">
</span>
  </div>
</div> 
</div>
    </div>