<!DOCTYPE html>
<html lang="en">
<!--Made by PNPNinja n J-Shan-->
<head>
  <title>Campus Connect | About</title>
  <link rel="shortcut icon" href="/img/tablogo.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
@font-face {
    font-family: myFirstFont;
    src: url("/fonts/ProximaNovaRegular.otf");
}

div {
    font-family: myFirstFont;
}
#samp { 
  background: url(/img/connect_aboutus.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;

}
#gradient{

 background: url(/img/blue_minimalistic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;

}
#charcoal
{
background-color: #383838 ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;   
}
#water
{background-color: #245A7D ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
}
#break{
background:  #FAD156;
}

#white{
background:  #FFFFFF;
}
#grey{
background:  #eaebec;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

 .navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
    }

  .navbar li { color: #000 } 

  .img-circle {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.img-circle:hover {
-webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

</style>
</head>
<body>
<div id="break">
<div class="container" style="height:6px;">
      <div class="jumbotron" style="background:transparent;">
</div></div></div>
<div id="samp">
<div class="navbar-inverse navbar-static-top hr" style="opacity:0.9;height:50px;">
<a href="/" class="pull-left"><img src="/img/logo.png" style="height:50px;"></a>


    <div class="container-fluid">

        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav mineul" style="font-size:30px; color:white;">
              <li><a href="/" style="color:#FFFFFF;font-size:13pt">Home</a></li>
               <li><a href="about" style="color:#FEFEFE;font-size:13pt">About</a></li>
               <li><a href="#mc_embed_signup" style="color:#FAD156;font-size:13pt">Contact</a></li>
               <li><a href="/college" style="color:#FEFEFE;font-size:13pt">Explore</a></li>
               <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.campusconnect"><img alt="Get it on Google Play" src="/img/droid.png" width="30px" height="25px"/></a></li>
            </ul>

        </div>
    </div>
</div>
    <div class="container">
<br/>
<br/>
<br/>
      <div class="jumbotron" style="margin-bottom:0; background:transparent">
        <h1 align="center" style="color:white; font-size:35pt">Campus Connect is built by students, for students</h1>
        <br/>
        <h3 align="center" style="color:white;font-size:17pt">Who better to recognize the needs of the campus community?</h3>
      </div>
    </div>
    

<br/>
<br/><br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>
<div id="gradient">
<div class="jumbotron" style="margin-bottom:0; background:transparent">
        <h1 align="center" style="color:white; font-size:60px">Vision</h1>
        <br/>
   <br/>
   <br/>
        <p align="center" style="color:white; font-size:20px; margin-left:19%; margin-right:19%">At Campus Connect, we have initiated a change - a change for the better. Our vision is to help

students have a better college experience. We are on a journey to simplify everything, so that you

can focus on learning and meeting amazing people on your campus. We are here to build a

platform that brings you a campus experience that's filled to the brim with happiness,

collaboration, and innovation. Make amazing college experiences with Campus Connect. </p>

   <br/>
   <br/>
   <br/>

      </div>
</div>

<div id="break">
<div class="container" style="height:6px;">
      <div class="jumbotron" style="background:transparent;">
</div></div></div>
<div id="white">
<div class="jumbotron" style="margin-bottom:0; background:transparent">
<h1 align="center" style="color:#383838; font-size:60px">The Team</h1>
<div class="container">
<div class="row" id="abb">
    <div class="col-xs-12 col-sm-6  col-lg-3 red"><p align="center" style="color:#383838;font-size:25px"><img class="img-circle" src="/img/aayush.png" alt="Aayush Agrawal" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px">Aayush Agrawal</p>
          <p align="center" style="color:#383838; font-size:20px;">Founder</p>
          <p align="center" style="color:#383838; font-size:15px;">Change maker,football player, In love with acoustic covers, put together music and dramatics and you will have his attention.</p></div>
    <div class="col-xs-12 col-sm-6  col-lg-3 blue"><p align="center" style="color:#383838;font-size:25px"><img class="img-circle" src="/img/Rohit.png" alt="Rohit John Joseph" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px">Rohit John Joseph</p>
          <p align="center" style="color:#383838; font-size:20px;">Backend Developer</p>
          <p align="center" style="color:#383838; font-size:15px;">Multi-talented with a drive for excellence, Extremely dependable, passionate about football and plays killer tennis.</p></div>
    <div class="col-xs-12 col-sm-12 col-lg-6">
        <div class="row">
            <div class="col-sm-6 col-sm-push-0 col-lg-push-0 col-lg-6 green"><img src="/img/Sid.png" class="img-circle" alt="Siddharth Ramakrishnan" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px;margin-top:10px">Siddharth P</p>
          <p align="center" style="color:#383838; font-size:20px;">Backend Developer</p>
          <p align="center" style="color:#383838; font-size:15px;">Extremely passionate yet calm and ever smiling, nothing can bring his spirits down, except Manchester United's performances.</p></div>
          <div class="col-sm-6 col-sm-push-0 col-lg-push-0 col-lg-6 green"><img src="/img/Rishab.png" class="img-circle" alt="Rishab Doshi" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px;margin-top:10px">Rishab Doshi</p>
          <p align="center" style="color:#383838; font-size:20px;">Backend Developer</p>
          <p align="center" style="color:#383838; font-size:15px;">Driven to solve problems which benefit society, nicest guy ever, cares about the people who are close to him.</p></div>
        </div>
        </div>
    </div>
    </div>
    <div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-6  col-lg-3 red"><p align="center" style="color:#383838;font-size:25px"><img src="/img/Prateek2.jpg" class="img-circle img-thumbnail" alt="pnpninja" style="display:block;margin-left:auto;margin-right:auto;height:150px;width:150px;border:none;background-color:transparent">
          <p align="center" style="color:#383838;font-size:25px">Prateek Narendra</p>
          <p align="center" style="color:#383838; font-size:20px;">Frontend Developer</p>
          <p align="center" style="color:#383838; font-size:15px;">Trustworthy and has an interesting sense of humor, he is ready to take on the world.</p></div>
    <div class="col-xs-12 col-sm-6  col-lg-3 blue"><p align="center" style="color:#383838;font-size:25px"><img src="/img/rakesh.png" class="img-circle" alt="Rakesh Kumar" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px">Rakesh Kumar</p>
          <p align="center" style="color:#383838; font-size:20px;">UI Design</p>
          <p align="center" style="color:#383838; font-size:15px;">Quietly brilliant, has a great eye for interaction design, very humble person </p></div>
    <div class="col-xs-12 col-sm-12 col-lg-6">
        <div class="row">
          <div class="col-sm-6 col-sm-push-0 col-lg-push-0 col-lg-6 green"><p align="center" style="color:#383838;font-size:25px"><img src="/img/Aditi.png" class="img-circle" alt="Aditi Chalisgaonkar" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px">Aditi Chalisgaonkar</p>
          <p align="center" style="color:#383838; font-size:20px;">Creative Design</p>
          <p align="center" style="color:#383838; font-size:15px;">Creative painter, loves to take on projects (even those as tall as her), driven to bring change</p></div>
          <div class="col-sm-6 col-sm-push-0 col-lg-push-0 col-lg-6 green"><img src="/img/Vinay.png" alt="Vinay Sundar" class="img-circle" style="display:block;margin-left:auto;margin-right:auto">
          <p align="center" style="color:#383838;font-size:25px;margin-top:10px">Vinay Sundar</p>
          <p align="center" style="color:#383838; font-size:20px;">Creative Design</p>
          <p align="center" style="color:#383838; font-size:15px;">Passionate about arts and music, always a smile on his face</p></div>
        </div>
        </div>
    </div>
    </div>
    <div class="container">
<div class="row">  
    <div class="col-xs-12 col-sm-12 col-lg-12 red"><p align="center" style="color:#383838;font-size:25px"><img src="/img/preeth.png" class="img-circle img-thumbnail" alt="preeth" style="display:block;margin-left:auto;margin-right:auto;height:150px;width:150px;border:none;background-color:transparent">
          <p align="center" style="color:#383838;font-size:25px">Preeth Chengappa</p>
          <p align="center" style="color:#383838; font-size:20px;">Mentor</p>
          <p align="center" style="color:#383838; font-size:15px;">Founder of ViteZite, <br/>passionate about building great products<br/> NITK Alumni Batch of 1990</p></div>
    </div>
    </div>
</div>
</div>



<div id="break">
<div class="container" style="height:6px;">
      <div class="jumbotron" style="background:transparent;">
</div></div></div>

<div id="grey">
<div class="jumbotron" style="margin-bottom:0; background:transparent">
<h1 align="center" style="color:#383838; font-size:40px">We are doing amazing things!</h1>
<h2 align="center" style="color:#383838; font-size:30px">Do you share our passion and want to join our team?</h2>
<br/>
<br/>
<h3 align="center" style="color:#383838; font-size:30px">Send us an email at <span style="color:#FAD156 "><a href="mailto:hello@campusconnect.cc" style="color:#FAD156">hello@campusconnect.cc</a></span></h3>
<h3 align="center" style="color:#383838; font-size:30px">Reach out to us, we would love to hear from you!</h3>
<br/>
   <br/>
</div>
</div>






<div id="charcoal">

  <a href = "https://web.facebook.com/campusconnectcc" target="_blank"><IMG class="displayed"  src="/img/facebook_circle.png" align="center" width="50" height="50" style="padding-top:5pt" ></IMG></a> 
<h2 align="center" style="color:white; font-size:15px">Copyright Campus Connect 2015</h2>
<h3 align="center" style="color:white; font-size:15px">Made with <span><img src="/img/heart.png" width="30" height="30"/></span> in Mangalore</h3>
</div>
</div>





</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68301048-1', 'auto');
  ga('send', 'pageview');

</script>
</html>