<!DOCTYPE html>
<!-- Bootstrap the angular app after the Google Java Script libraries are loaded. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Campus Connect</title>
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/tablogo.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-cosmo.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <meta property="og:title" content="Campus Connect">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A platform that connects you to your campus community.">
    <meta property="og:image" content="/img/tablogo.png">
    <meta property="og:site_name" content="A web app powered by Google App Engine">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script>
        /**
         * Initializes the Google API JavaScript client. Bootstrap the angular module after loading the Google libraries
         * so that Google JavaScript library ready in the angular modules.
         */
        function init() {
            gapi.client.load('oauth2', 'v2', function () {
                angular.bootstrap(document, ['conferenceApp']);
            });

            var ROOT = 'https://campus-connect-2015.appspot.com/_ah/api';
            gapi.client.load('campusConnectApis', 'v1',null, ROOT);
            gapi.client.load('clubs', 'v1',null, 'https://campus-connect-2015.appspot.com/_ah/api');

        };
    </script>
    <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
</head>

<body style="background-image:url('img/bkg.jpg');background-size:cover;background-repeat:no-repeat;">

<div ng-controller = "scoreboardCtrl" ng-init = "init()">
	<table id="college-table" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Score</th>
                <th>New Score</th>		
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teams">
                <td>{{team.batch}}</td>
                <td>{{team.score}}</td>
                <td>
                	<input ng-model="fields[$index]"/>
                </td>
            </tr>	
        </tbody>
    </table>
    <button ng-click="send()" class="btn btn-primary">Submit</button>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers.js"></script>
</body>
